button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-color: transparent;
}
.active {
  color: rgb(43, 19, 32);
  background: #a8a9a8;
}
.default {
  color: rgb(148, 163, 163);
  background: #24106a;
}
